<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="testmssql" connectionString="Data Source=.;Initial Catalog=city;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="test" connectionString="server=localhost;port=5432;Database=demo;User Id=postgres;Password=postgres;timeout=1024;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
